# Some of the following are ignored:
#   ISE project files
#   Xilinx proprietary files
#   Xillybus proprietary files

blockplus/coregen.log
blockplus/edit_pcie_v5.tcl
blockplus/iseconfig/
blockplus/pcie_v5/
blockplus/pcie_v5_flist.txt
blockplus/pcie_v5.gise
blockplus/pcie_v5_gtx.xco
blockplus/pcie_v5.veo
blockplus/pcie_v5.xco
blockplus/pcie_v5.xlpp
blockplus/pcie_v5_xmdf.tcl
blockplus/prepare.gise
blockplus/prepare.xise
blockplus/tmp/
blockplus/_xmsgs/
verilog/demo-done.cfi
verilog/demo-done.prm
verilog/_impact.cmd
verilog/_impact.log
verilog/iseconfig/
verilog/_ngo/
verilog/output.txt
verilog/usage_statistics_webtalk.html
verilog/webtalk.log
verilog/webtalk_pn.xml
verilog/xillydemo.bgn
verilog/xillydemo_bitgen.xwbt
verilog/xillydemo.bld
verilog/xillydemo.cmd_log
verilog/xillydemo.drc
verilog/xillydemo_envsettings.html
verilog/xillydemo.gise
verilog/xillydemo_guide.ncd
verilog/xillydemo.lso
verilog/xillydemo_map.map
verilog/xillydemo_map.mrp
verilog/xillydemo_map.ncd
verilog/xillydemo_map.ngm
verilog/xillydemo_map.xrpt
verilog/xillydemo.ncd
verilog/xillydemo.ngc
verilog/xillydemo.ngd
verilog/xillydemo_ngdbuild.xrpt
verilog/xillydemo.ngr
verilog/xillydemo.pad
verilog/xillydemo_pad.csv
verilog/xillydemo_pad.txt
verilog/xillydemo.par
verilog/xillydemo_par.xrpt
verilog/xillydemo.pcf
verilog/xillydemo.prj
verilog/xillydemo.ptwx
verilog/xillydemo.stx
verilog/xillydemo_summary.html
verilog/xillydemo_summary.xml
verilog/xillydemo.syr
verilog/xillydemo.twr
verilog/xillydemo.twx
verilog/xillydemo.unroutes
verilog/xillydemo_usage.xml
verilog/xillydemo.ut
verilog/xillydemo.xpi
verilog/xillydemo.xst
verilog/xillydemo_xst.xrpt
verilog/xlnx_auto_0_xdb/
verilog/_xmsgs/
verilog/xst/
verilog/src/coregen.log
verilog/src/fifo_32x512.asy
verilog/src/fifo_32x512_flist.txt
verilog/src/fifo_32x512.gise
verilog/src/fifo_32x512.ncf
verilog/src/fifo_32x512.ngc
verilog/src/fifo_32x512.sym
verilog/src/fifo_32x512.v
verilog/src/fifo_32x512.veo
verilog/src/fifo_32x512.xco
verilog/src/fifo_32x512.xise
verilog/src/fifo_32x512_xmdf.tcl
verilog/src/fifo_8x2048.asy
verilog/src/fifo_8x2048_flist.txt
verilog/src/fifo_8x2048.gise
verilog/src/fifo_8x2048.ncf
verilog/src/fifo_8x2048.ngc
verilog/src/fifo_8x2048.sym
verilog/src/fifo_8x2048.v
verilog/src/fifo_8x2048.veo
verilog/src/fifo_8x2048.xco
verilog/src/fifo_8x2048.xise
verilog/src/fifo_8x2048_xmdf.tcl
verilog/src/fifo_generator_readme.txt
verilog/src/fifo_generator_ug175.pdf
verilog/src/gen_fifo_32x512.tcl
verilog/src/gen_fifo_8x2048.tcl
verilog/src/tmp/
verilog/src/xlnx_auto_0_xdb/
verilog/src/_xmsgs/
